html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
    margin: auto;

    /* font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

.row{
    width: 100%;
}
.row::after{
    content: '';
    clear: both;
    display: block;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

/* Extra Smalll */
[class*="col-"]{
    width: 100%;
    
}

/* Header Start */
header{
    background-color: #24a19c;
    padding: 0% 1%;
    text-align:center;
  
}

.logo{
width: 70px;
height: 70px;
line-height: 70px;
text-align:center;
color:#fff;
border-radius: 50%;
border:2px solid #fff;
}
nav ul li {
    display: block;
    
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 70px;
    padding: 0  20px;
    text-transform: uppercase;
    font-size: 0.9rem; 
    font-family: 'Roboto', sans-serif;
    transition: .4s;
    /* font-weight: bolder; */


}
nav ul li a:hover{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

/* Header Ends */

/* Banner start Here  */

#banner-section{
    background-image: url('image/photo-1484723091739-30a097e8f929.jpg');
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner-content{
    padding: 50px 10px;
    text-align: center;
}

.banner-content h1{
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background-color: rgba(255,255.0,0.884);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Handlee', cursive; 

}
.banner-content p{
    background-color: rgb(0,128,0);
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
    width: 300px;
    margin: 15px auto;
}
.banner-content .btn{
    width: 160px;
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(0,128,0);
    transition: .4s;
    text-transform: uppercase;
    color: #fff;
}
.banner-content .btn:hover{
    transform: scale(1.2);
}
/* Banner Ends here  */

/* About us start */
#about-us{
    padding: 1%;
}
.about-us-content{
    text-align: center;
}
.about-us-content h3{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bolder;
}
.about-us-content p{
    font-size: 0.8rem;
    margin-bottom: 10px;

}
/* About us end s */
/*  Food Menu start  */

#menu-section{
    padding: 1%;
}
.card-body{
    text-align: center;
 
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.item-desc{
    background-color: rgb(165,164,164);
}
.item-name{
    background-color: green;
    color: #fff;
    padding: 10px;
}
.item-desc > p{
  font-size: 0.8rem;
  padding: 10px;
  font-weight: bold;
}
.card{
    transition: 0.5s;
   
}
.card:hover{
    transform: scale(1.04);
}

/*  Food Menu end */
/* Contact start */
#contact{
    padding: 1%;
    background-color: #595b83;
}
.contact-detailes{
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.map{
    width: 100%;
    height: 250px;
}
.contact-detailes p, address{
    font-size: 0.8rem;
}

/* Contact ends */

/* Footer start  */
footer{
    padding: 1%;
    color: #fff;
    background-color: #060930;
}
footer p{
    line-height: 32px;
    font-size: 0.8rem;
    text-align: center;
}
.social-menus{
    text-align: center;
}
.social-menus .icon-style{
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius:50% ;
    border: 1px solid #fff;
    margin: 0 10px;
    transition: 0.4s;
    text-align: center;
}
.icon-style:hover{
    background-color: gray;
    transform: scale(1.2);
}

/* Footer ends */
/* Design for small Device which below 576px */
@media screen and (min-width:576px){
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
 

}
/* Design for medium Device which below 576px */
@media screen and (min-width:768px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    
    }
/* Design for small Device which below 992px */
@media screen and (min-width:992px){

.col-lg1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}

.logo-div{
    text-align: left;
}
nav ul {
    text-align: right;
}
header nav ul li{
    
    display: inline-block;
   
}
header nav ul li a{   
    display: inline-block;
    transition: 0.4s;
}
header nav ul li a:hover{   
    background:transparent;
    transform: scale(1.2);
    text-decoration: underline;
    border-radius: 0;
}
/* Banner start */
#banner-section{
    position: relative;
    height: 100vh;
}
.banner-content{
    position: absoulate;
    top: 50%;
    left: 50%;
    translate: transform(-50%,-50%);
}
.banner-content h1{
    width: 700px;
    font-size: 3.5rem;
}
.banner-content p{
    width: 500px;
    font-size: 2rem;
}
/* Banner end */
/* 
footer start  */
footer p{
    text-align: left;
}
.social-menus{
    text-align: right;
}
/* Footer end */
}


